.reactionsContainer {
  height: 32px;
  border-radius: 24px;
  display: flex;

  &__emoji {
    height: 16px;
    width: 16px;
    margin: 0 8px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(2);
    }
  }
  &__userListItem {
    display: flex;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
  }

  &__tooltip {
    :global(.ant-tooltip-inner) {
      border-radius: 100px;
      height: 24px;
      padding: 7px 8px;
      font-size: 13px;
    }
    :global(.ant-tooltip-arrow){
      display: none;
    }
  }
}